:root {
  --cadetGray: #7D98A1;
  --richBlack: #001011;
  --lightGreen: #92DE91;
  --lighterGreen: #D4F2D4;
  --tomato: #F95738;
  --lightTomato: #FDBDB0;
  --turkeyRed: #A30000;
  --sliderThumbWidth: 12.6px;
  --volumeImageWidth: 14px;
  --volumeImageHeight: 91px;
  --oliveSize: 33.6px;
  --oliveStrokes: 1.4px;
  --optionsButtonSize: 33.6px;
  --optionsButtonRadius: 7px;
  --resetButtonSize: 11.2px;
  --deviceHeight: 343px;
}

@font-face {
  font-family: josefin;
  src: url(../fonts/josefin-sans-variable-weight.ttf);
}

@font-face {
  font-family: bedstead;
  src: url(../fonts/bedstead.otf);
}

@font-face {
  font-family: vt323;
  src: url(../fonts/VT323-Regular.ttf);
}

html,
body {
  margin: 0;
  font-family: josefin;
  overflow: hidden;
}

#table-top {
  background-color: transparent;
  width: 490px;
  height: var(--deviceHeight);
  z-index: 0;
}

#device {
  position: relative;
  width: 100%;
  height: var(--deviceHeight);
  transition: transform 0.5s;
  transform-style: preserve-3d;
  z-index: 10;
}

#front,
#back {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  transform-style: preserve-3d;
}

#front {
  flex-direction: column;
}

#front,
#back {
  height: var(--deviceHeight);
  background-color: var(--cadetGray);
}

#back {
  transform: rotateY(180deg);
}

#blacklist-compartment {
  background-color: var(--cadetGray);
  width: 22.4px;
  height: 100%;
  z-index: 5;
}

#blacklist {
  background-color: var(--richBlack);
  height: 100%;
  width: 49px;
  position: absolute;
  z-index: 3;
  transition: width 0.5s;
  display: flex;
  align-items: center;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}

#blacklist.expanded {
  width: 434px;
}

#compartment-gap {
  height: 100%;
  width: 22.4px;
}

#monitor-container {
  height: 100%;
  width: 389.2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#arrow-tab {
  height: 100%;
  width: 22.4px;
  box-sizing: border-box;
  background-color: var(--cadetGray);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 2.8px solid var(--richBlack);
  border-top: 2.8px solid var(--richBlack);
  border-bottom: 2.8px solid var(--richBlack);
}

#arrow-right {
  color: var(--lightGreen);
  font-size: 1.4rem;
}

#arrow-left {
  color: var(--richBlack);
  font-size: 1.4rem;
}

#blacklist.expanded #arrow-right {
  color: var(--richBlack);
}

#blacklist.expanded #arrow-left {
  color: var(--lightGreen);
}

#blacklist-monitor {
  background-color: var(--richBlack);
  color: var(--lightGreen);
  width: 0;
  height: 0;
  position: relative;
  font-family: vt323;
  font-size: 1.4rem;
  padding: 14px;
}

#task-container {
  margin-bottom: 7px;
}

#task-input {
  font-family: vt323;
  font-size: 1.4rem;
  background-color: var(--richBlack);
  color: var(--lightGreen);
  border: 1.4px solid var(--lightGreen);
  outline: none;
  box-shadow: none;
}

#instructions {
  border-bottom: 1.4px solid var(--lightGreen);
  padding-bottom: 14px;
  user-select: none;
}

#list-input {
  padding: 0 14px 14px 14px;
  font-family: vt323;
  font-size: 1.4rem;
  width: 100%;
  height: 65%;
  box-sizing: border-box;
  resize: none;
  color: var(--lightGreen);
  background-color: var(--richBlack);
  border: none;
  outline: none;
  box-shadow: none;
  position: absolute;
  bottom: 0;
  left: 0;
  scrollbar-width: none;
}

#task-input::selection,
#list-input::selection {
  color: var(--richBlack);
  background-color: var(--lightGreen);
}

#list-input::-webkit-scrollbar {
  display: none;
}

#more-text {
  position: absolute;
  bottom: 14px;
  right: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 16, 17, 0.6);
  user-select: none;
}

#more-above,
#more-below {
  opacity: 0.8;
  cursor: pointer;
}

.inactive {
  color: var(--richBlack);
  cursor: default !important;
}

.hidden {
  display: none !important;
}

@keyframes screenOn {
  0% {
    width: 0;
    height: 0;
    border: none;
  }
  90% {
    width: 90%;
    height: 2.8px;
    border: 1.4px solid var(--lightGreen);
  }
  100% {
    width: 90%;
    height: 90%;
    border: 1.4px solid var(--lightGreen);
  }
}

@keyframes screenOff {
  0% {
    width: 90%;
    height: 90%;
    border: 1.4px solid var(--lightGreen);
  }
  10% {
    width: 90%;
    height: 0px;
    border: 1.4px solid var(--lightGreen);
  }
  100% {
    width: 0;
    height: 0;
    border: none;
  }
}

#blacklist.expanded #blacklist-monitor {
  animation: 0.2s 0.5s ease-in forwards screenOn;
}

#blacklist.expanded.closing #blacklist-monitor {
  animation: 0.2s ease-in forwards screenOff;
}

#back-face {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flip {
  transform: rotateY(180deg);
}

div[id^="round"] {
  width: var(--oliveSize);
  height: var(--oliveSize);
}

div[id^="round"] svg {
  width: 100%;
  height: 100%;
  display: block;
}

.olive,
.pimento {
  cx: calc(var(--oliveSize) / 2);
  cy: calc(var(--oliveSize) / 2);
  stroke: var(--richBlack);
  stroke-width: var(--oliveStrokes);
}

.olive {
  r: calc(var(--oliveSize) / 2 - var(--oliveStrokes));
}

.pimento {
  r: calc(0.47 * var(--oliveSize) / 2 - var(--oliveStrokes));
}

.ready .olive, 
.ready .pimento,
.work-counting .pimento,
.work-done .pimento {
  fill: var(--richBlack)
}

@keyframes blinkingOlive {
  from {fill: var(--richBlack);}
  to {fill: var(--lightGreen);}
}

@keyframes blinkingPimento {
  from {fill: var(--richBlack);}
  to {fill: var(--tomato);}
}

.work-counting .olive,
.break-counting .pimento {
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.work-counting .olive {
  animation-name: blinkingOlive;
}

.break-counting .pimento {
  animation-name: blinkingPimento;
}

.work-done .olive,
.break-counting .olive,
.break-done .olive {
  fill: var(--lightGreen)
}

.break-done .pimento {
  fill: var(--tomato)
}

input[type="range"][orient="vertical"] {
  writing-mode: bt-lr;
  appearance: slider-vertical;
  -webkit-appearance: none;
  appearance: none;
  width: 2.8px;
  height: var(--volumeImageHeight);
  background: var(--richBlack);
  outline: none;
}

input[type="range"][orient="vertical"]::-webkit-slider-thumb,
input[type="range"][orient="vertical"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--sliderThumbWidth);
  height: 2.8px;
  background: var(--richBlack);
  cursor: pointer;
}

#volume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 42px;
}

#slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(1.5 * var(--sliderThumbWidth) + var(--volumeImageWidth))
}

#volume-image {
  width: var(--volumeImageWidth);
  height: var(--volumeImageHeight);
  background-color: var(--richBlack);
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}

#volume-label,
#options-label {
  font-size: 1.4rem;
}

#options-label {
  line-height: 1.5;
}

#counter {
  display: flex;
  justify-content: space-evenly;
  margin: 30.8px 0 15.4px 0;
  width: 315px;
}

#middle-row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 315px;
  height: 154px;
  background-color: white;
  color: var(--richBlack);
  border-radius: 14px;
  border: 1.4px solid var(--richBlack);
  font-family: bedstead;
}

#countdown,
#task {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#countdown {
  height: 84px;
  font-size: 5.6rem;
  padding-top: 11.2px;
}

#countdown.no-task {
  height: 154px;
}

#task {
  height: 70px;
  font-size: 2.1rem;
  padding-top: 5.6px;
  overflow: hidden;
}

#task span {
  padding-left: 100%;
  animation: marquee 8s linear infinite;
  white-space: nowrap;
}

#secondary {
  animation-delay: 4s;
}

@keyframes marquee {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

#task.no-task {
  display: none;
}

#timer-button {
  border-radius: 14px;
  border: 1.4px solid var(--richBlack);
  padding-top: 11.2px;
  width: 315px;
  font-family: josefin;
  font-size: 3.5rem;
}

.start-button {
  background-color: var(--lighterGreen);
  box-shadow: var(--richBlack) 0 8.4px;
  cursor: pointer;
}

.start-button:hover {
  background-color: var(--lightGreen);
}

.start-button:active {
  box-shadow: var(--richBlack) 0 1.4px;
  transform: translateY(7px);
}

.stop-button {
  background-color: var(--lightTomato);
  box-shadow: var(--richBlack) 0 4.2px;
  transform: translateY(4.2px);
  cursor: pointer;
}

.stop-button:hover {
  background-color: var(--tomato);
}

.stop-button:active {
  box-shadow: var(--richBlack) 0 1.4px;
  transform: translateY(7px);
}

#options-and-reset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 42px;
}

#options-button-container,
#reset-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#options-button,
#options-close {
  background-color: var(--turkeyRed);
  border: none;
  cursor: pointer;
}

#options-button,
#options-close {
  border-radius: var(--optionsButtonRadius);
  box-shadow: var(--richBlack) 0 4.2px;
  width: var(--optionsButtonSize);
  height: var(--optionsButtonSize);
}

#options-button:active,
#options-close:active {
  box-shadow: var(--richBlack) 0 1.4px;
  transform: translateY(2.8px);
}

#options-button,
#reset-button {
  margin-bottom: 5.6px;
}

#reset-button {
  border: none;
  background: none;
  cursor: pointer;
  z-index: 100;
}

#reset-button svg {
  width: var(--resetButtonSize);
  height: var(--resetButtonSize);
  display: block;
  overflow: visible;
}

#reset-button-circle {
  cx: calc(var(--resetButtonSize) / 2);
  cy: calc(var(--resetButtonSize) / 2);
  r: calc(var(--resetButtonSize) / 2);
  fill: var(--richBlack);
}

.resetting {
  animation: resetBloom 3s forwards;
}

.post-reset {
  animation: resetShrink 1s forwards;
}

@keyframes resetBloom {
  from {
    r: calc(var(--resetButtonSize) / 2);
    fill: var(--richBlack);
  }
  to {
    r: 490px;
    fill: red;
  }
}

@keyframes resetShrink {
  from {
    r: 490px;
    fill: red;
  }
  to {
    r: calc(var(--resetButtonSize) / 2);
    fill: var(--richBlack);
  }
}

#reset-label {
  font-size: 0.7rem;
  text-transform: uppercase;
}

#options-close-container {
  display: flex;
  justify-content: right;
  width: 100%;
  height: 60px;
  padding-top: 15px;
}

#options-close {
  color: var(--richBlack);
  text-shadow: 0 -1.05px 0 var(--tomato);
}

#options-close {
  font-size: 1.575rem;
  margin: 14px 14px 14px 0;
}

#options-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 28px;
  padding-top: 32px;
  padding-left: 40px;
}

.option-row {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 28px;
  margin-left: 9%;
}

.option-title {
  width: 45%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 2.8px;
  font-size: 1.4rem;
}

.option-input-container {
  width: 45%;
  font-size: 1.4rem;
}