:root {
  --cadetGray: #7D98A1;
  --richBlack: #001011;
  --lightGreen: #92DE91;
  --lighterGreen: #D4F2D4;
  --tomato: #F95738;
  --lightTomato: #FDBDB0;
  --turkeyRed: #A30000;
  --sliderThumbWidth: 9px;
  --volumeSvgWidth: 10px;
  --volumeSvgHeight: 65px;
  --oliveSize: 24px;
  --oliveStrokes: 1px;
  --optionsButtonSize: 24px;
  --optionsButtonRadius: 5px;
  --resetButtonSize: 8px;
}

@font-face {
  font-family: josefin;
  src: url(../fonts/josefin-sans-variable-weight.ttf);
}

@font-face {
  font-family: bedstead;
  src: url(../fonts/bedstead.otf);
}

html,
body {
  margin: 0;
  font-family: josefin;
}

#table-top {
  background-color: transparent;
  width: 350px;
  height: 245px;
}

#device {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

#front,
#back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#front {
  background-color: var(--cadetGray);
}

#back {
  background-color: var(--cadetGray);
  transform: rotateY(180deg);
}

.flip {
  transform: rotateY(180deg);
}

div[id^="round"] {
  width: var(--oliveSize);
  height: var(--oliveSize);
}

div[id^="round"] svg {
  width: 100%;
  height: 100%;
  display: block;
}

.olive,
.pimento {
  cx: calc(var(--oliveSize) / 2);
  cy: calc(var(--oliveSize) / 2);
  stroke: var(--richBlack);
  stroke-width: var(--oliveStrokes);
}

.olive {
  r: calc(var(--oliveSize) / 2 - var(--oliveStrokes));
}

.pimento {
  r: calc(0.47 * var(--oliveSize) / 2 - var(--oliveStrokes));
}

.ready .olive, 
.ready .pimento,
.work-counting .pimento,
.work-done .pimento {
  fill: var(--richBlack)
}

@keyframes blinkingOlive {
  from {fill: var(--richBlack);}
  to {fill: var(--lightGreen);}
}

@keyframes blinkingPimento {
  from {fill: var(--richBlack);}
  to {fill: var(--tomato);}
}

.work-counting .olive,
.break-counting .pimento {
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.work-counting .olive {
  animation-name: blinkingOlive;
}

.break-counting .pimento {
  animation-name: blinkingPimento;
}

.work-done .olive,
.break-counting .olive,
.break-done .olive {
  fill: var(--lightGreen)
}

.break-done .pimento {
  fill: var(--tomato)
}

input[type="range"][orient="vertical"] {
  writing-mode: bt-lr;
  appearance: slider-vertical;
  -webkit-appearance: none;
  appearance: none;
  width: 2px;
  height: 65px;
  background: var(--richBlack);
  outline: none;
}

input[type="range"][orient="vertical"]::-webkit-slider-thumb,
input[type="range"][orient="vertical"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 9px;
  height: 2px;
  background: var(--richBlack);
  cursor: pointer;
}

#volume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30px;
}

#volume-svg {
  width: var(--volumeSvgWidth);
  height: var(--volumeSvgHeight);
}

polygon {
  fill: var(--richBlack);
}

#slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(1.5 * var(--sliderThumbWidth) + var(--volumeSvgWidth))
}

#volume-image {
  display: flex;
  align-items: center;
}

#volume-label,
#options-label {
  font-size: 16px;
}

#counter {
  display: flex;
  justify-content: space-evenly;
  margin: 22px 0 11px 0;
  width: 225px;
}

#middle-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 110px;
  background-color: white;
  color: var(--richBlack);
  border-radius: 10px;
  border: 1px solid var(--richBlack);
  font-family: bedstead;
}

#countdown,
#task {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#countdown {
  height: 60px;
  font-size: 64px;
  padding-top: 8px;
}

#countdown.no-task {
  height: 110px;
  font-size: 64px;
}

#task {
  height: 50px;
  font-size: 24px;
  padding-top: 4px;
  overflow: hidden;
}

#task span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}

#secondary {
  animation-delay: 5s;
}

@keyframes marquee {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

#task.no-task {
  display: none;
}

#timer-button {
  border-radius: 10px;
  border: 1px solid var(--richBlack);
  padding-top: 8px;
  width: 225px;
  font-family: josefin;
  font-size: 40px;
}

.start-button {
  background-color: var(--lighterGreen);
  box-shadow: var(--richBlack) 0 6px;
  cursor: pointer;
}

.start-button:hover {
  background-color: var(--lightGreen);
}

.start-button:active {
  box-shadow: var(--richBlack) 0 1px;
  transform: translateY(5px);
}

.stop-button {
  background-color: var(--lightTomato);
  box-shadow: var(--richBlack) 0 3px;
  transform: translateY(3px);
  cursor: pointer;
}

.stop-button:hover {
  background-color: var(--tomato);
}

.stop-button:active {
  box-shadow: var(--richBlack) 0 1px;
  transform: translateY(5px);
}

#options-and-reset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30px;
}

#options-button-container,
#reset-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#options-button,
#options-close {
  width: var(--optionsButtonSize);
  height: var(--optionsButtonSize);
  background-color: var(--turkeyRed);
  border: none;
  border-radius: var(--optionsButtonRadius);
  box-shadow: var(--richBlack) 0 3px;
  cursor: pointer;
}

#options-button:active,
#options-close:active {
  box-shadow: var(--richBlack) 0 1px;
  transform: translateY(2px);
}

#options-button,
#reset-button {
  margin-bottom: 4px;
}

#reset-button {
  width: var(--resetButtonSize);
  height: var(--resetButtonSize);
  /* TODO: buttonize and give inset shadow */
}

#reset-button svg {
  width: 100%;
  height: 100%;
  display: block;
}

#reset-button-circle {
  cx: calc(var(--resetButtonSize) / 2);
  cy: calc(var(--resetButtonSize) / 2);
  r: calc(var(--resetButtonSize) / 2);
  fill: var(--richBlack)
}

#reset-label {
  font-size: 8px;
  text-transform: uppercase;
}

#options-close-container {
  display: flex;
  justify-content: right;
  width: 100%;
}

#options-close {
  color: var(--richBlack);
  font-size: 18px;
  text-shadow: 0 -0.75px 0 var(--tomato);
  margin: 22px 22px 22px 0;
}

#options-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.option-row {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.option-title {
  width: 45%;
  text-align: end;
}

.option-input-container {
  width: 45%;
}

#option-task {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#task-option-title,
#task-option-input-container {
  width: 100%;
  text-align: center;
}
